@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Fuzzy+Bubbles:wght@400;700&family=Inter:wght@400;700&family=Lobster&family=Open+Sans:wght@700&family=Roboto&display=swap');
body {
  background: #f5f5f5;
  font-family: 'Inter', sans-serif;
}
.container {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  margin-top: 64px;
}
.header__text {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 36px;
  margin: 0;
}

.search {
  display: flex;
  padding-top: 48px;
}

@media screen and (max-width: 767px) {
  .search {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.search__name {
  flex-grow: 2;
  color: #abb5be;
  border-radius: 4px;
  margin-right: 35px;
}

@media screen and (max-width: 767px) {
  .search__name {
    margin-right: 0;
  }
}

.search__school {
  flex-grow: 1;
  color: #abb5be;
  border-radius: 4px;
}

.search__input {
  width: 100%;
  height: 38px;
  color: #abb5be;
}

.search__select {
  width: 100%;
  height: 38px;
  color: #abb5be;
}

.hr {
  margin: 40px 0;
  height: 1px;
  border: 0;
  background: #dee2e6;
}

/* ******************************************************************************************* */
.cards {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.block {
  display: flex;
  flex-direction: column;  
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 20px;
  width: 335px;
}

.img {
  box-shadow: 10px 10px 15px white;   
  width: 334px;
  height: 400px;
  border-radius: 4px 4px 0 0;
}

.blockText {
  color: #152536;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin: 24px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
}

@media screen and (max-width: 400px) {
  img {
    box-shadow: 10px 10px 15px #0d0d0e;
    width: 280px;
    height: 300px;
    border-radius: 4px 4px 0 0;
  }
  .blockText {
    color: #152536;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 24px;
    margin-right: auto;
    margin-left: auto;
  }
}
